<a href="https://colab.research.google.com/github/daifuku085/python-tutorial/blob/main/02_Python%E5%9F%BA%E7%A4%8E%E3%81%AE%E5%9F%BA%E7%A4%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python基礎の基礎**

## **れんしゅうもんだい**

はじめてのPython では、```1+1``` という計算を実行しましたが、こんどはもうちょっとだけ複雑な計算をしてみます。

例として、こんな問題を考えてみましょう。

> ”太郎くんは、一つ100円のももを5つ、一つ40円のみかんを8つ買いました。全部でいくらになったでしょう？”

Pythonの式は、小学校で習った計算式とだいたい同じですが、掛け算の記号として ```×``` ではなく ```*``` を使います。

さっそく Google Colaboratory のノートブックを開いて、次のように式を入力して計算してみましょう。

```
>>> 100 * 5 + 40 * 8
```

「 >>> 」 という記号は、「ここの部分は Colab に入力して実行してください。」というマークです。プログラムの一部ではありませんから、入力しないでください。

答えは820円となりました。かんたんですね。かっこも使えますから、式を囲って少し見やすくしてみましょう

```
>>> (100 * 5) + (40 * 8)
```

## **整数と実数**

Pythonでは、学校で習った算数と良く似た形式で四則演算を行えます。

| 演算   | 式    |
| ------ | ----- |
| 足し算 | a + b |
| 引き算 | a - b |
| かけ算 | a * b |
| 割り算 | a / b |
| 余り   | a % b |
| べき乗 | a ** b |

かけ算と割り算の記号が ```×``` と ```÷``` ではありませんが、この書き方に慣れてください。

In [ ]:
10 * 20

```a % b``` という式は、 ```a``` を ```b``` で割った余りを求めます。

In [ ]:
5 % 3

In [ ]:
10 % 2

負の値は、数字の前に ```-```(マイナス)記号を付けて記述します。

In [ ]:
-100

次の式は正の ```100``` と ```-99``` の足し算です。

In [ ]:
100 + -99

正しく計算できますが、ちょっと見にくいですね。こういうときは、かっこを付けて

In [ ]:
100 + (-99)

と書くようにすると、間違いにくくなります。

```a ** b``` は、 a^b （a の b乗） を計算します。

In [ ]:
10 ** 3

### **実数**

実数
これまでに出てきた数字は、すべて ```1```, ```2```, ```3```, ... のような整数ばかりでした。

整数ではなく、```1.5```のような実数を使う時は、普通の数字とおなじように ```.``` をつけて記述します。

In [ ]:
0.1

Pythonでは、実数は **浮動小数点数(floating point number)** という形式で、 **float型** と呼ばれます。

小数点以下が ```0``` でも、```.``` がついていれば整数ではなく float型です。

In [ ]:
100.0

### **整数とfloat型**

整数の値と整数の値を演算すると、結果は整数になります。

In [ ]:
10 + 20

整数とfloat型の値を演算すると、結果はfloat型になります。

In [ ]:
10 + 20.0

割り算の結果は、整数同士の割り算でも、float型になります。

In [ ]:
2 / 3

```3 / 3``` のように割り切れる場合でも、答えは整数の ```1``` ではなく、小数点以下が ```0``` のfloat型になります。

In [ ]:
3 / 3

## **変数**

太郎君は、さらに買い物を続けます。

> ”太郎くんは、一つ100円のももを5つ、一つ40円のみかんを8つ、80円のなしを5つ、60円のキウィを10、 90円のスイカを20、110円のかきを10買いました。全部でいくらになったでしょう？”

先ほどとおなじように、式を書いて計算してみましょう。

In [ ]:
(100 * 5) + (40 * 8) + (80 * 5) + (60 * 9) + (90 * 20) + (100 + 10)

しかし、 3670円は正解ではないようです。どこか間違えてしまったようですね。どこが違うか、わかるでしょうか？
こういう式を書く時は、数字と演算子だけを一行に並べてしまうと、間違えやすいものです。Pythonでは、計算の結果に名前をつけて参照できます。名前をつけるときは、 ```=``` 記号を使って、次の形式で記述します。

```
名前 = 式
```

この名前のことは **変数** といい、```=``` を使った行を **代入文** といいます。

次の例は、```50``` という値に、```variable``` という名前をつけています。

```
variable = 50
```

値を代入した変数は、その値とおなじように使えます。

```
50 + 1
```
と書いても、

```
variable = 50
variable + 1
```

と書いても、まったく同じ計算が行われます。

一度設定した変数は、おなじセルだけではなく、別のセルでも参照できますので試してみてください。

この機能を使って、先程の式をわかりやすく整理してみましょう。

In [ ]:
momo = 100 * 5
mikan = 40 * 8
nashi = 80 * 5
kiwi = 60 * 9
suika = 90 * 20
kaki = 100 + 10

momo + mikan + nashi + kiwi + suika + kaki

こんどは、果物ごとに行を分け、それぞれの金額を計算して別々の **変数** に **代入** しています。

どちらも計算の結果は同じですが、式を分割しているので確認しやすいですね。よく見ると、次の個所が間違っています。

- キウィの個数
- 柿の計算式が掛け算ではなく足し算になってる

この２箇所だけ、計算をやり直して合計値を求めてみましょう

In [ ]:
kiwi = 60 * 10
kaki = 100 * 10

momo + mikan + nashi + kiwi + suika + kaki

正解は 4620円でした。

### **変数名**

変数の名前は、なんでも良いというわけではありません。次のようなルールがあります。

- アルファベットや数字などを使えます。
- 数字から始まってはいけません。```abc123``` という変数名はOKですが、```123abc``` は数字ではじまるのでエラーとなります。
- ```_``` 以外の、```+``` や ```-``` などの記号は使えません。
- ```if```、```while``` などの、Python言語で使いみちが決まっている単語は使えません。
- ルール上はひらがなや漢字なども使えますが、ちょっとわかりにくいエラーの原因になってしまうことがあります。半角のアルファベットと数字、```_``` だけを使うようにしましょう。

例
```
variable -> OK (アルファベットのみ)
variable_123 -> OK (アルファベットと _ と数字のみ)
123_variable -> NG (数字で始まっている)
vari$able -> NG (記号は変数名として使えない)
```

## **コメント**

Pythonプログラムの、```#``` 記号からその行の終わりまでは **コメント** となり、どんなことを書いても、Pythonから無視されます。

次の例では、 ```1 + 2``` の後ろにある ```#``` 以降はコメントになり、好きなことを書いてもエラーにはなりません。

In [ ]:
1 + 2 # ここはコメント

行の先頭に ```#``` を書くと、その行はすべてコメントになります。

In [ ]:
# この行はまるまるコメントです

1 + 2 # ここもコメント

## **関数**

Pythonには、単純な足し算や引き算以外にも、便利な機能がたくさん用意されています。そういった便利な機能の多くは、**関数** として利用できるようになっています。

**関数** は、次の形式で利用します。

```
関数名(引数1, 引数2, 引数3, ...)
```

関数を実行する時、必要に応じて **引数(ひきすう)** を指定します。たとえば、数値の絶対値を求める関数 ```abs()``` を利用するときには、求める対象の数値を引数として指定します。次の例では、```abs()``` に引数として数値の ```-200``` を指定しています。

In [ ]:
abs(-200)

プログラミング用語では、関数を利用することを 「関数を**呼び出す**」 と言います。また、関数を呼び出して求めた結果の値のことを、**戻り値** や **返り値** などと呼びます。

上の例では、**引数** として ```-200``` を指定して関数 ```abs()``` を **呼び出し**、その **戻り値** として、```200``` を得ています。

### **関数と演算子**

関数は、 数値や ```+``` や ```-``` などの演算子とおなじように、**式** の一部として自由に使えます。 次の式は、```abs()``` の引数として ```100 + 200``` を指定し、その結果を ```2``` で割り算しています。

In [ ]:
abs(100 + 200) / 2

### **関数と変数**

関数の引数として、**変数** も指定できます。 次の例では、

1. 変数 ```minus_value``` に ```100 * -1``` の結果を代入
2. ```minus_value``` を引数として、 ```abs()``` を呼び出す
という処理を行っています。

In [ ]:
minus_value = 100 * -1
abs(minus_value)

この処理は、 ```abs()``` の引数として、```100 * -1``` を指定した場合と全く同じです。

In [ ]:
abs(100 * -1)   # 100 * -1 = -100

関数の戻り値を、変数に代入するのも自由です。次の例は、```abs()``` の戻り値を、変数 ```abs_value``` に代入しています。

In [ ]:
abs_value = abs(10)
abs_value * 2  # abs(10) * 2 とおなじ

### **関数の例**

以下に、Pythonで用意されている関数のごく一部を紹介します。かんたんに呼び出せるものばかりですので、実際にサンプルを打ち込んで、動かしてみてください。

#### **abs() 関数**

```abs()``` の引数に正の値を指定すると、そのまま同じ値が戻り値として返ってきます。

In [ ]:
abs(100)

負の値を指定すると、正の値に変換されて返ってきます。

In [ ]:
abs(100 * -1)

#### **round() 関数**

```round()``` 関数は、引数としてfloat型の数値と、有効桁数を指定して、その桁数に丸めた値を結果として返します。引数は、次のように最初に数値、次に有効桁数の順に指定します。

```
round(数値, 有効桁数)
```

次の例は、float値 ```1.12``` を、小数第一位で丸めます。

In [ ]:
round(1.16, 1)

#### **min() 関数と max() 関数**

```min()``` 関数は、引数で指定した値の中で、最も小さい値を戻り値として返します。

In [ ]:
min(10, 20, 5, 30)

```max()``` 関数は、```min()``` 関数とは逆に、引数で指定した値の中で、最も大きい値を戻り値として返す関数です。

In [ ]:
max(10, 20, 5, 30)

## **モジュールとimport**

Pythonはとても多機能なプログラミング言語で、いろいろな機能をもった **関数** を、簡単につかえるように用意してくれています。その機能の数はあまりにも多いので、使いやすいように目的や種類ごとに分類して提供されます。こういった、Pythonが機能を分類する単位を、**モジュール** といいます。

例えば、三角関数や対数など、多くの数学関連の機能は、**math**という名前のモジュールに分類されています。モジュールに入った関数を利用するときには、まずそのモジュールを ```import``` 文で指定します。

### **import文**

```import``` 文は、利用するモジュールを次のように指定します。

```
import モジュール名
```

次の例は、```math``` モジュールを使えるように指定します。

```
import math # mathモジュールを使用する
```

モジュールをインポートしたら、

```
モジュール名.関数名()
```

の形式で、そのモジュールの関数を使えるようになります。平方根を計算する ```math``` モジュールの関数、```sqrt()``` 関数を利用するときは、次のように書きます。

In [ ]:
import math # mathモジュールを使用する
math.sqrt(2.0) # インポート済みの mathモジュールを使って、平方根を計算する

> **関数** で紹介した ```abs()``` などの関数は、モジュールを指定せずに利用できます。 一部の使用頻度の高い関数などは、モジュールをインポートせずに使えるようになっており、そういった関数のことを、 **組み込み関数** と言います。