<a href="https://colab.research.google.com/github/daifuku085/python-tutorial/blob/main/03_%E6%96%87%E5%AD%97%E5%88%97%E3%81%A8%E5%85%A5%E5%87%BA%E5%8A%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **文字列と入出力**

## **文字列**

これまでは数字ばかりを使ってきましたが、数字以外にも、文章や人名などの文字データも、もちろん使えます。こういった文字データは、**文字列** といいます。

Pythonでは、文字列は文字の前後を ```"```(ダブルクォテーション) か ```'```(シングルクォテーション) で囲んで記述します。

In [ ]:
"Python Programming!"

In [ ]:
'Python Programming!'

```"``` でも ```'``` でも、結果は一緒です。好きな方を使ってかまいません。本講座では、基本的に ```"``` を使います。 「好きな方と言われても困る」という方は、とりあえず ```"``` に統一するといいかもしれません。でも、本当にどっちでもいいんです。

## **print() 関数**

Pythonの関数の中で、もっともよく使われる関数に ```print()``` 関数があります。

```print()``` 関数は、引数として指定した値を画面に出力します。

In [ ]:
print(42)

```print()``` 関数には、複数の値を指定できます。

In [ ]:
print(1,2,3)

## **文字列と print() 関数**

文字列を ```print()``` 関数で使うと、Pythonの表現力がぐっと上がります。 さきほどの **れんしゅうもんだい** を、 ```print()``` 関数を使って書いてみましょう。

In [ ]:
print("もも5つと、みかん8つで", 100 * 5 + 40 * 8, "円になります。")

## **input() 関数**

```input()``` 関数を使うと、キーボードを使って、文字列データを入力できます。 Colabでは、

```
>>> input("好きな文字を入力してください")
```

と ```input()``` 関数を実行すると、次のように文字を入力できるようになります。

![](https://www.python.jp/train/string/input_func.png)

図の入力エリアに適当な文章を入力し、エンターキーを入力すると、入力した文章が ```input()``` 関数の戻り値になります。

```input("好きな文字を入力してください")``` のように、```input()``` 関数の引数に文字列を指定すると、入力フィールドの前に表示されます。入力してもらいたい文字の説明などを指定しましょう。このような文字列は、**プロンプト** と言います。

プロンプトが必要なければ、文字列を指定せずに
```
input()
```
とだけ書いてもOKです。

次の例は、

1. ```input()``` 関数で入力した文字列を変数 ```string``` に代入し、
2. 変数 ```string``` を ```print()```関数で出力します。

In [ ]:
string = input("文字列を入力してください:")
print("文字列", string, "が入力されました。")

## **メソッド**

文字列などのデータには、そのデータを操作するための、専用の **関数** が結びついています。

たとえば、文字列データには、その文字列の文字をすべて大文字に変換した文字列を作成する関数 ```upper()``` があります。```upper()```は、次のように使います。

In [ ]:
text = "lower letters" # 変数 text に 文字列 "lower letters"を代入
uppered_text = text.upper() # upper() メソッドで、大文字を作成
print(uppered_text)

```lower letters``` の文字をすべて大文字に変換した文字列が、戻り値となっているのがわかると思います。
このように、データに結びついた関数のことを、**メソッド** と呼びます。メソッドは、次のように呼び出します。

```
データ.メソッド名(引数1, 引数2, 引数3, ...)
```

上で紹介した、

```
text = "lower letters" # 変数 text に 文字列 "lower letters"を代入
uppered_text = text.upper() # upper() メソッドで、大文字を作成
```

というプログラムでは、```lower letters``` というデータの、```upper()``` というメソッドを呼び出しています。

**文字列のfindメソッド**

もう一つのメソッドの例として、文字列データのメソッド ```find()``` を紹介します。```find()``` メソッドは、文字列の中に、ある文字列があるかどうか調べるメソッドです。

たとえば、```The shells she sells are sea-shells, I'm sure.``` という文字列に ```sea``` という文字列が含まれているかどうか調べる場合は、次のように書きます。

In [ ]:
text = "The shells she sells are sea-shells, I'm sure."
text.find("sea")

この例では、```The shells she sells are sea-shells, I'm sure.``` というデータの ```find()``` メソッドを、```sea``` という引数を指定して呼び出しています。

```find()``` メソッドは、引数で指定した文字列が含まれていれば、その位置を戻り値として返します。この例では、```The shells she sells are sea-shells, I'm sure.``` の、25番目の文字が ```sea``` となっています。(注:先頭の文字を0番目として数えて、25番目です。Pythonでは、順序は常に ```0``` から数えます。)

### **メソッドと関数**

メソッドは **関数** の一種です。これまで見てきたように、特定のデータに結びつき、

```
データ.メソッド名()
```

の形式で呼び出してデータを操作する関数を、**メソッド** と呼びます。

**メソッド** は、結びついている **データ** を対象として、処理を行います。例えば、

```
"lower letters".upper()
```

は、文字列データの ```lower letters``` に結び付けられた ```upper()``` メソッドを呼び出しています。```upper()``` メソッドは、結びついているデータである ```lower letters``` を大文字に変換します。

一方、**関数** は、特定のデータには結びついておらず、操作する対象のデータを引数として指定します。たとえば、**abs() 関数** では、絶対値を求める対象の数値データを、

```
abs(-100)
```

のように、引数として指定します。

このように、Pythonが提供する機能には、```abs()``` のように **関数** として提供されているものと、 ```文字列.upper()``` のように **メソッド** として提供されているものがあります。特定のデータに強く結びつき、利用頻度が高い処理はメソッドとして使えるようになっており、それ以外の処理は関数として使えるようになっていることが多いようです。

### **メソッドとデータ**

Pythonのデータには、その種類に応じて、別々のメソッドが用意されています。上で紹介した ```lower()``` メソッドや ```find()``` メソッドは、文字列データだけで使える、専用のメソッドです。たとえば、```lower()``` メソッドを数値データに使おうとすると、次のようなエラーになります。

In [ ]:
data = 10000
data.lower()

数字に大文字も小文字もありませんから、数値にはこんなメソッドは必要ありませんね。

逆に、数値には数値で、別に専用のメソッドが用意されています。例えば、数値データには ```as_integer_ratio()``` メソッドが用意されており、**実数** を分数のように2つの整数の比で表します。

たとえば、実数の ```0.5``` は 1/2 ですから、```as_integer_ratio()``` メソッドを使うと、

In [ ]:
data = 0.5
data.as_integer_ratio()

のように、 ```1``` と ```2``` の比である、と求められます。

この「値を整数の比で表す」というのは、数値だけで有効な処理です。数値以外の、文字列などのデータを「整数の比で表わす」といわれても困ってしまいます。ですから、```as_integer_ratio()```メソッドは数値データ専用のメソッドで、文字列データで使おうとすると次のようにエラーになります。

In [ ]:
data = "abracadabra"
data.as_integer_ratio()

このように、データはその種類ごとに、専用のメソッドをたくさん持っています。すべてのメソッドを紹介することはできませんが、Python公式サイトには、[**文字列データのメソッド一覧**](https://docs.python.org/ja/3/library/stdtypes.html#string-methods) や [**数値データのメソッド一覧**](https://docs.python.org/ja/3/library/stdtypes.html#additional-methods-on-integer-types) がありますので、興味があれば参照してみてください。

### **練習問題**

```input()``` 関数で入力した文字列を、すべて小文字に変換して表示するプログラムを書いてみましょう。

文字列の ```lower()``` メソッドで、小文字に変換した文字列を作成できます。

[**回答例**](https://www.python.jp/train/string/method.html#%E5%9B%9E%E7%AD%94%E4%BE%8B)

この例では、変数 ```text``` の、```lower()``` メソッドを使って、小文字に変換した文字列を作っています。

ここで、 ```lower()``` メソッドを呼び出したあとでも、変数 ```text``` に代入した文字列は大文字のままで、小文字には変換されていない、という点を確認してください。文字列の ```lower()``` メソッドは、変数 ```text``` の文字列を **変更** するメソッドではなく、あたらしく小文字からなる文字列を **作成** するメソッドなのです。

## **文字列の演算子と数値**

Pythonでは、文字列はこれまで使ってきたような数値とはまったく違った種類のデータとして扱われています。

数値同士の足し算では、値と値を加算した結果が得られます。整数の ```123``` と ```456``` を足せば、```579``` になります。

In [ ]:
123 + 456

しかし、文字列同士の足し算は、文字列の連結になります。文字列の ```"123"``` と ```"456"``` を足すと、```"123456"``` になります。

In [ ]:
"123" + "456"

また、数値と文字列を足すと、次のようなエラーになり、加算することはできません。

In [ ]:
123 + "456"

### **文字列の数値化**

数字だけからなる文字列は、次のように ```int()``` を使って整数に変換できます。

In [ ]:
text = "123"
print(int(text))

```int()``` をつかって、文字列 ```"123"``` と ```"456"``` を、数字に変換してから足してみましょう。

In [ ]:
text1 = "123"
text2 = "456"

print(text1, "と", text2, "を足すと", int(text1) + int(text2), 'になります')

また、```float()```使うと、float型に変換できます。

In [ ]:
text = "123.4"
float(text)

数字以外の文字は、数値にはできません。次のようなエラーになります。

In [ ]:
int("Hello")